{% extends 'baes.html' %}

{% block content %}



    <div class="navbar_con">
        <div class="navbar">
            <h1 class="fl">全部商品分类</h1>
            <ul class="navlist fl">
                <li><a href="">首页</a></li>
                {#                <li class="interval">|</li>#}
                {#                <li><a href="">手机生鲜</a></li>#}
                {#                <li class="interval">|</li>#}
                {#                <li><a href="">抽奖</a></li>#}
            </ul>
        </div>
    </div>

    <div class="center_con clearfix">
        <ul class="subnav fl">
            <li><a href="#model01" class="fruit">新鲜水果</a></li>
            <li><a href="#model02" class="seafood">海鲜水产</a></li>
            <li><a href="#model03" class="meet">猪牛羊肉</a></li>
            <li><a href="#model04" class="egg">禽类蛋品</a></li>
            <li><a href="#model05" class="vegetables">新鲜蔬菜</a></li>
            <li><a href="#model06" class="ice">速冻食品</a></li>
        </ul>
        <div class="slide fl">
            <ul class="slide_pics">

                {% for banner in banner_list %}
                    <li><img src="/{{ banner.bimage }}" alt="{{ banner.btitle }}"></li>
                {% endfor %}


            </ul>
            <div class="prev"></div>
            <div class="next"></div>
            <ul class="points"></ul>
        </div>
        <div class="adv fl">
            <a href="#"><img src="/static/images/adv01.jpg"></a>
            <a href="#"><img src="/static/images/adv02.jpg"></a>
        </div>
    </div>

    <div class="list_model">
        <div class="list_title clearfix">
            <h3 class="fl" id="model01">新鲜水果</h3>
            <div class="subtitle fl">
                <span>|</span>
                <a href="#">鲜芒</a>
                <a href="#">加州提子</a>
                <a href="#">亚马逊牛油果</a>
            </div>
            <a href="{% url 'lenong:goods_list' 2 %}" class="goods_more fr" id="fruit_more">查看更多 ></a>
        </div>

        <div class="goods_con clearfix">
            <div class="goods_banner fl"><img src="/static/images/banner01.jpg"></div>
            <ul class="goods_list fl">

                {% for fruit in fruit_list %}
                    <li>
                        <h4><a href="#">{{ fruit.gtitle }}</a></h4>
                        <a href="{% url 'lenong:detail' fruit.id %}"><img src="/static/{{ fruit.gpic }}"></a>
                        <div class="prize">¥ {{ fruit.gprice }}</div>
                    </li>
                {% endfor %}


            </ul>
        </div>
    </div>

    <div class="list_model">
        <div class="list_title clearfix">
            <h3 class="fl" id="model02">海鲜水产</h3>
            <div class="subtitle fl">
                <span>|</span>
                <a href="#">河虾</a>
                <a href="#">扇贝</a>
            </div>
            <a href="#" class="goods_more fr">查看更多 ></a>
        </div>

        <div class="goods_con clearfix">
            <div class="goods_banner fl"><img src="/static/images/banner02.jpg"></div>
            <ul class="goods_list fl">

                {% for seafoods in seafoods_list %}

                    <li>
                        <h4><a href="#">{{ seafoods.gtitle }}</a></h4>
                        <a href="#"><img src="/static/{{ seafoods.gpic }}"></a>
                        <div class="prize">¥ {{ seafoods.gprice }}</div>
                    </li>
                {% endfor %}


            </ul>
        </div>
    </div>

    <div class="list_model">
        <div class="list_title clearfix">
            <h3 class="fl" id="model03">猪牛羊肉</h3>
            <div class="subtitle fl">
                <span>|</span>
                <a href="#">鲜芒</a>
                <a href="#">加州提子</a>
                <a href="#">亚马逊牛油果</a>
            </div>
            <a href="#" class="goods_more fr">查看更多 ></a>
        </div>

        <div class="goods_con clearfix">
            <div class="goods_banner fl"><img src="/static/images/banner03.jpg"></div>
            <ul class="goods_list fl">

                {% for meat in meat_list %}
                    <li>
                        <h4><a href="#">{{ meat.gtitle }}</a></h4>
                        <a href="#"><img src="/static/{{ meat.gpic }}"></a>
                        <div class="prize">¥ {{ meat.gprice }}</div>
                    </li>
                {% endfor %}


            </ul>
        </div>
    </div>

    <div class="list_model">
        <div class="list_title clearfix">
            <h3 class="fl" id="model04">禽类蛋品</h3>
            <div class="subtitle fl">
                <span>|</span>
                <a href="#">鲜芒</a>
                <a href="#">加州提子</a>
                <a href="#">亚马逊牛油果</a>
            </div>
            <a href="#" class="goods_more fr">查看更多 ></a>
        </div>

        <div class="goods_con clearfix">
            <div class="goods_banner fl"><img src="/static/images/banner04.jpg"></div>
            <ul class="goods_list fl">

                {% for egg in egg_list %}
                    <li>
                        <h4><a href="#">{{ egg.gtitle }}</a></h4>
                        <a href="#"><img src="/static/{{ egg.gpic }}"></a>
                        <div class="prize">¥ {{ egg.gprice }}</div>
                    </li>
                {% endfor %}


            </ul>
        </div>
    </div>

    <div class="list_model">
        <div class="list_title clearfix">
            <h3 class="fl" id="model05">新鲜蔬菜</h3>
            <div class="subtitle fl">
                <span>|</span>
                <a href="#">鲜芒</a>
                <a href="#">加州提子</a>
                <a href="#">亚马逊牛油果</a>
            </div>
            <a href="#" class="goods_more fr">查看更多 ></a>
        </div>

        <div class="goods_con clearfix">
            <div class="goods_banner fl"><img src="/static/images/banner05.jpg"></div>
            <ul class="goods_list fl">
                {% for cai in cai_list %}
                    <li>
                        <h4><a href="#">{{ cai.gtitle }}</a></h4>
                        <a href="#"><img src="/static/{{ cai.gpic }}"></a>
                        <div class="prize">¥ {{ cai.gprice }}</div>
                    </li>
                {% endfor %}


            </ul>
        </div>
    </div>

    <div class="list_model">
        <div class="list_title clearfix">
            <h3 class="fl" id="model06">速冻食品</h3>
            <div class="subtitle fl">
                <span>|</span>
                <a href="#">鲜芒</a>
                <a href="#">加州提子</a>
                <a href="#">亚马逊牛油果</a>
            </div>
            <a href="#" class="goods_more fr">查看更多 ></a>
        </div>

        <div class="goods_con clearfix">
            <div class="goods_banner fl"><img src="/static/images/banner06.jpg"></div>
            <ul class="goods_list fl">

                {% for sudo in sudo_list %}
                    <li>
                        <h4><a href="#">{{ sudo.gtitle }}</a></h4>
                        <a href="#"><img src="/static/{{ sudo.gpic }}"></a>
                        <div class="prize">¥ {{ sudo.gprice }}</div>
                    </li>
                {% endfor %}


            </ul>
        </div>
    </div>
{% endblock %}